LDAP_ORGANISATION={{ openldap_org }}
LDAP_DOMAIN={{ openldap_domain_name }}
LDAP_ADMIN_PASSWORD={{ openldap_admin_passowrd }}
PHPLDAPADMIN_LDAP_HOSTS={{ openldap_container_hostname }}
PHPLDAPADMIN_HTTPS={{ openldap_phpldapadmin_with_ssl }}
PHPLDAPADMIN_SERVER_ADMIN={{ openldap_phpldapadmin_server_admin }}
LDAP_READONLY_USER={{ openldap_readonly_enabled }}
LDAP_READONLY_USER_USERNAME={{ openldap_readonly_user }}
LDAP_READONLY_USER_PASSWORD={{ openldap_readonly_passowrd }}
LDAP_BACKEND="{{ openldap_bakcend }}"
#PHPLDAPADMIN_HTTPS=""
#PHPLDAPADMIN_HTTPS_CRT_FILENAME=""
#PHPLDAPADMIN_HTTPS_KEY_FILENAME=""
#PHPLDAPADMIN_HTTPS_CA_CRT_FILENAME="
#PHPLDAPADMIN_TRUST_PROXY_SSL=""
#PHPLDAPADMIN_LDAP_CLIENT_TLS=""
#PHPLDAPADMIN_LDAP_CLIENT_TLS_REQCERT=""
#PHPLDAPADMIN_LDAP_CLIENT_TLS_CA_CRT_FILENAME=""
#PHPLDAPADMIN_LDAP_CLIENT_TLS_CRT_FILENAME=""
#PHPLDAPADMIN_LDAP_CLIENT_TLS_KEY_FILENAME=""
#PHPLDAPADMIN_SSL_HELPER_PREFIX=""
#LDAP_CLIENT_SSL_HELPER_PREFIX=""